<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./css/style.css">
        <title>Weather App</title>
    </head>

    <body>
        {{>header}}
        <main class="main">
            <div class="search">
                <input type="text" id="search-input" placeholder="Enter the location here" autocomplete="false">
                <svg>
                    <use xlink:href="./assets/sprite.svg#icon-search"></use>
                </svg>
            </div>

            {{!-- <ul class="weather-info">
                <li>{location.lat}</li>
                <li>{location.long}</li>
                <li>{location.name}</li>
                <li>{location.name}</li>
                <li>{location.timezoneId}</li>
                <li>{location.name}</li>
                <li>{location.name}</li>
                <li>{location.name}</li>
                <li>{location.name}</li>
            </ul> --}}
        </main>
        {{>footer}}

        <script src="./js/index.js"></script>
    </body>

</html>
