<header>
    <h1>{{headerTitle}}</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Api Documentation</a></li>
        </ul>
    </nav>
</header>
