<header>
    <h1>{{headerTitle}}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Api Documentation</a></li>
        </ul>
    </nav>
</header>
